html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: var(--secondary-color);
    background-size: 120% 120%;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    background-color: var(--primary-color);
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    margin-right: 180px;
    font-size: 2.5rem;
}

.cabecalho .menu input {
    display: none;
    width: 70px;
    height: 70px;
}

.cabecalho .menu li a {
    font-size: 2.3rem;
    padding: 10px 35px;
    transition: 0.2s;
    color: var(--secondary-color);
}

.cabecalho .menu li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 125px);
}

.home .informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
}

.home .informacoes h1 {
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    margin-bottom: 15px;
    color: var(--primary-color);
    text-align: center;
}


.home .informacoes h2 {
    font-family: "Raleway", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.home .seta {
    width: 65px;
    position: absolute;
    top: 80%;
    animation: move 1.6s infinite ease-in-out;
}

.home a {
    position: fixed;
    left: 95%;
    bottom: 4%;
    background-color: var(--midium-color);
    padding: 10px 15px;
    border-radius: 50%;
    display: none;
    z-index: 1;
}

.home a i {
    color: var(--secondary-color);
    font-size: 3rem;
}

.secao-sobre {
    background-color: var(--primary-color);
    margin-top: 10px;
}

.secao-sobre h2 {
    font-size: 4.5rem;
    font-weight: 500;
    border-bottom: 1px solid var(--secondary-color);
    padding: 60px 0 0 0;
    margin: 0 auto;
    max-width: 1100px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0 100px 20px;
    margin: 0 auto;
    max-width: 1440px;
}

.sobre .container-foto .foto {
    max-width: 450px;
    border-radius: 50%;
}

.sobre .container-foto .sombra-interna {
    background: linear-gradient(0.25turn, #000000, #101218, #2d2e32f7);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.sobre .container-foto img {
    width: 100%;
    border-radius: 50%;
}

.sobre .texto {
    width: 40%;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.habilidades {
    padding: 100px 20px;
}

.habilidades h2 {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    margin: 0 auto;
    max-width: 1160px;
    text-transform: uppercase;
}

.habilidades .tecnologias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
    font-size: 5rem;
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 100px 0 0 0;
}

.habilidades .tecnologias-info span {
    font-size: 6.5rem;
}

.habilidades .tecnologias-info span i:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.habilidades .tecnologias-info h5 {
    font-size: 3.5rem;
}

.habilidades .tecnologias-info p {
    width: 350px;
    font-size: 1.8rem;
    font-weight: 700;
}

.projetos {
    background-color: var(--primary-color);
    padding: 100px 0 100px 0;
}

.projetos h2 {
    text-align: end;
    font-size: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--secondary-color);
    margin: 0 auto;
    max-width: 1100px;
    color: var(--secondary-color);
}

.projetos .container-projetos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 100px 0 100px 0;
    justify-content: center;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 1440px;
}

.projetos .projeto {
    width: 640px;
    max-height: 405px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo {
    display: block;
}

.projetos .projeto img {
    height: 100%;
    border-radius: 10px;
}

.projetos .projeto h3 {
    background-color: var(--primary-color);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}

.projetos .projeto .informacoes-projeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding-top: 70px;
}

.projetos .projeto .informacoes-projeto .tecnologias-projeto {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.projetos .projeto .tecnologias-projeto span i {
    font-size: 4.5rem;
}

.projetos .projeto .tecnologias-projeto p {
    font-size: 1.7rem;
}

.projetos .projeto .tecnologias-projeto .nome-das-tecnologias {
    text-align: center;
}

.projetos .projeto .tecnologias-projeto .nome-das-tecnologias .logo-api {
    width: 53px;
    position: relative;
    bottom: 5px;
}

.projetos .projeto .tecnologias-projeto .nome-das-tecnologias .api {
    position: relative;
    bottom: 13px;
}

.projetos .projeto .informacoes-projeto .ver-projeto {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.projetos .projeto .informacoes-projeto .ver-projeto p {
    font-size: 1.7rem;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.9;
    background-color: var(--primary-color);
}

.projetos .btn-mostrar-projetos,
.projetos .btn-esconder-projetos {
    font-family: "Kdam Thmor Pro", sans-serif;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    color: var(--secondary-color);
    width: 180px;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover,
.projetos .btn-esconder-projetos:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
    display: none;
}

.projetos .btn-esconder-projetos.remover-esconder {
    display: none;
}

.secao-contato {
    background-color: var(--secondary-color);
    padding: 100px 0 100px 0;
}

.secao-contato h2 {
    font-size: 4.5rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 1100px;
}

.secao-contato .flex-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.secao-contato .container-contato {
    width: 450px;
    height: 550px;
    background-color: var(--primary-color);
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
    margin-top: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85);
}

.secao-contato .container-contato h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.5rem;
}

.secao-contato .container-contato .inputs {
    display: flex;
    flex-direction: column;
}

.secao-contato .container-contato #nome,
.secao-contato .container-contato #email {
    width: 350px;
    height: 35px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding-left: 7px;
}

.secao-contato .container-contato #mensagem {
    resize: none;
    max-width: 350px;
    min-height: 235px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 7px 0 0 7px;
}

.secao-contato .container-contato #nome:focus,
.secao-contato .container-contato #email:focus,
.secao-contato .container-contato #mensagem:focus {
    border-radius: 15px;
}

.secao-contato .container-contato #nome::placeholder,
.secao-contato .container-contato #email::placeholder,
.secao-contato .container-contato #mensagem::placeholder {
    padding-left: 3px;
    font-size: 1.5rem;
}

.secao-contato .container-contato button {
    width: 350px;
    padding: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

.secao-contato .container-contato button a {
    color: var(--primary-color);
}

.secao-contato .container-contato button:hover {
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.secao-rodape {
    background-color: var(--primary-color);
    padding: 25px 0;
}

.secao-rodape .redes-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.secao-rodape .redes-sociais a i {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 15px 15px;
    text-align: center;
    font-size: 3.2rem;
    transition: 0.3s;
}

.secao-rodape .redes-sociais a i:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 70px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}