@media (max-width: 1170px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 980px;
    }

}

@media (max-width: 1070px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 900px;
    }

    .sobre .container-foto .foto {
        max-width: 370px;
    }

    .sobre .texto {
        width: 50%;
        font-size: 2.3rem;
    }

}

@media (max-width: 990px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 750px;
    }

    .secao-contato a {
        left: 93%;
    }

}

@media (max-width: 895px) {

    .sobre {
        flex-direction: column;
    }

    .sobre .texto {
        width: 60%;
    }

}

@media (max-width: 805px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 600px;
    }

    .cabecalho .menu li a {
        padding: 10px 25px;
    }

    .home .informacoes h2 {
        text-align: center;
        font-size: 4.3rem;
    }

}

@media (max-width: 760px) {

    .overlay {
        width: 100vw;
        height: 100vh;
        background-color: var(--hamburger-menu-overlay);
        position: fixed;
        display: none;
        z-index: 99;
    }

    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho a {
        margin-left: 30px;
    }

    .cabecalho .menu i {
        display: block;
    }

    .cabecalho nav ul {
        width: 50vw;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        background-color: var(--primary-color);
        padding: 30px 0 0 15px;
        display: none;
        z-index: 100;
    }

    .cabecalho nav ul i {
        padding-left: 30px;
    }

    .cabecalho nav ul li {
        padding-top: 20px;
    }

    .cabecalho nav ul li a {
        width: 200px;
        display: block;
    }

    .cabecalho .menu li a:hover {
        background-color: transparent;
        color: var(--secondary-color);
    }

    .secao-contato a {
        left: 91%;
    }

}

@media (max-width: 690px) {

    .projetos .projeto {
        width: 480px;
    }

}

@media (max-width: 650px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 480px;
    }

}

@media (max-width: 590px) {

    .secao-contato a {
        left: 89%;
    }

    .sobre .container-foto .foto {
        max-width: 380px;
    }

    .sobre .texto {
        width: 80%;
        font-size: 2rem;
    }

}

@media (max-width: 530px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 350px;
    }

    .secao-contato a {
        left: 88%;
    }

    .projetos .projeto {
        width: 390px;
        max-height: 300px;
    }

    .projetos .projeto .informacoes-projeto {
        padding-top: 20px;
    }

    .projetos .projeto .informacoes-projeto .tecnologias-projeto {
        gap: 50px;
    }

    .projetos .projeto .tecnologias-projeto span i {
        font-size: 4rem;
    }

    .projetos .projeto .informacoes-projeto .ver-projeto {
        padding-top: 40px;
    }

}

@media (max-width: 460px) {

    .cabecalho .logo {
        margin-right: 290px;
    }

    .home .informacoes h1 {
        font-size: 4rem;
    }

    .home .informacoes h2 {
        font-size: 3.3rem;
    }

    .secao-contato a {
        left: 87%;
    }

    .secao-contato .container-contato {
        width: 350px;
        height: 450px;
    }

    .secao-contato .container-contato #nome,
    .secao-contato .container-contato #email {
        width: 250px;
        height: 35px;
    }

    .secao-contato .container-contato #mensagem {
        max-width: 250px;
        min-height: 140px;
    }

    .secao-contato .container-contato button {
        width: 250px;
        padding: 12px;
    }


}

@media(max-width: 425px) {

    .secao-sobre h2,
    .habilidades h2,
    .projetos h2,
    .secao-contato h2 {
        max-width: 300px;
    }

    .cabecalho nav ul i {
        padding-left: 15px;
    }

    .cabecalho .menu li a {
        font-size: 2rem;
        padding: 8px 15px;
    }

    .home .informacoes h1 {
        font-size: 3.5rem;
    }

    .home .informacoes h2 {
        font-size: 2.7rem;
    }

    .secao-contato a {
        left: 86%;
    }

    .sobre {
        padding: 100px 0 100px 0;
    }

    .sobre .container-foto .foto {
        max-width: 310px;
    }

    .projetos {
        padding: 100px 0 100px 0;
    }

    .projetos .projeto {
        width: 350px;
        max-height: 310px;
    }

    .projetos .projeto .informacoes-projeto .tecnologias-projeto {
        gap: 35px;
    }

    .projetos .projeto .tecnologias-projeto span i {
        font-size: 3.5rem;
    }

    .projetos .projeto .tecnologias-projeto p {
        font-size: 1.4rem;
    }

    .projetos .projeto .tecnologias-projeto .nome-das-tecnologias .logo-api {
        width: 47px;
    }

    .secao-rodape .redes-sociais a i {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 2.8rem;
    }

}

@media (max-width: 375px) {

    .cabecalho .logo {
        margin-right: 250px;
    }

    .home .informacoes h1 {
        font-size: 3.2rem;
    }

    .home .informacoes h2 {
        font-size: 2.6rem;
    }

    .secao-contato a {
        left: 85%;
    }

    .sobre .texto {
        width: 85%;
        font-size: 1.7rem;
    }

}